<table class="table table-cv table-sm table-borderless table-responsive table-cv-map">
  {% assign skip_basics = "image, profiles" | split:"," %}
  {% for content in data[1] %}
  {% if (content[1] == "") or (skip_basics contains content[0]) %}
  {% continue %}
  {% endif %}

  <tr>
    <td class="p-1 pr-2 font-weight-bold"><b>{{ content[0] | capitalize }}</b></td>
    <td class="p-1 pl-2 font-weight-light text">
      {% if content[0] == "name" %}
      <strong>{{ content[1] }}</strong>
      {% elsif content[0] == "label" %}
      {% assign labels = content[1] | split: "#" %}
      {% for label in labels %}
      {% assign trimmedLabel = label | strip %}
      {% if trimmedLabel != "" %}
      <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle"
        style="min-width: 75px;">#{{trimmedLabel}} </span>
      {% endif %}
      {% endfor %}
      {% elsif content[0] == "summary" %}
      <div style="text-align: justify;">
        {{ content[1] }}
      </div>
      {% elsif content[0] == "location" %}
      <a href="https://www.google.com/maps?q={{ content[1].address }}" target="_blank">{{ content[1].address }}</a>
      {% elsif content[0] == "profiles" %}
      {% for profile in content[1] %}
      <a class="linked-profile" href="{{ profile.url }}" target="_blank">
        {% if profile.network == "LinkedIn" %}
        <svg height="24" class="octicon octicon-mark-linkedin" viewBox="0 0 24 24" version="1.1" width="24"
          aria-hidden="true">
          <path fill-rule="evenodd"
            d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 8c0 .557-.447 1.008-1 1.008s-1-.45-1-1.008c0-.557.447-1.008 1-1.008s1 .452 1 1.008zm0 2h-2v6h2v-6zm3 0h-2v6h2v-2.861c0-1.722 2.002-1.881 2.002 0v2.861h1.998v-3.359c0-3.284-3.128-3.164-4-1.548v-1.093z">
          </path>
        </svg>
        LinkedIn
        {% elsif profile.network == "GitHub" %}
        <svg height="24" class="octicon octicon-mark-github" viewBox="0 0 24 24" version="1.1" width="24"
          aria-hidden="true">
          <path fill-rule="evenodd"
            d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.438 9.8 8.207 11.387.6.11.793-.262.793-.58 0-.288-.012-1.25-.018-2.27-3.206.696-3.947-1.537-3.947-1.537-.532-1.35-1.3-1.71-1.3-1.71-1.064-.727.08-.712.08-.712 1.18.083 1.806 1.217 1.806 1.217 1.05 1.8 2.76 1.28 3.44.98.107-.764.41-1.28.746-1.57-2.616-.296-5.36-1.308-5.36-5.79 0-1.278.45-2.32 1.183-3.14-.118-.296-.513-1.482.112-3.09 0 0 1.04-.313 3.4 1.2.986-.274 2.04-.41 3.08-.415 1.04.005 2.094.14 3.075.415 2.36-1.513 3.4-1.2 3.4-1.2.626 1.608.23 2.794.112 3.09.74.82 1.183 1.86 1.183 3.14 0 4.495-2.75 5.49-5.368 5.78.42.36.8 1.077.8 2.17 0 1.57-.015 2.83-.015 3.22 0 .32.21.7.8.58C20.565 21.8 24 17.3 24 12 24 5.37 18.63 0 12 0z">
          </path>
        </svg>
        GitHub
        {% endif %}
      </a>
      {% endfor %}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>