<style>
  .card-text {
    font-weight: light;
  }

  .list-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .list-group-flush .list-group-item {
    border: none;
    padding: 0;
  }

  .skill-list-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Adjust the gap between items */
  }

  .skill-category {
    font-weight: bold;
    /* background-color: #f2f2f2; */
    padding: 10px;
    /* Add padding for better visibility */
    flex: 0 0 calc(50% - 10px);
    /* Two columns per line */
    box-sizing: border-box;
  }

  .skill-name {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    background-color: var(--global-theme-color) !important;
    /* Danger color */
    color: var(--global-card-bg-color) !important;
    min-width: 75px;
  }

  .skill-bar-container {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
  }

  .skill-bar {
    height: 100%;
    width: 0;
    transition: width 0.5s;
    background-color: var(--global-theme-color) !important;
    /* Green color for the skill bar */
  }

  .skill-keywords {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    color: var(--global-card-bg-color) !important;
    background-color: var(--global-theme-color) !important;
    z-index: 1;
  }

  .skill-category:hover .skill-keywords {
    display: block;
  }

  .skill-keywords ul {
    width: 100%;
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
  }

  .skill-keywords li {
    /* list-style-type: none; */
    /* Remove default list-style */
    text-align: left;
    /* Align text to the left */
    color: var(--global-card-bg-color) !important;
  }
</style>

<div class="card-text font-weight-light list-group list-group-flush skill-list-group">
  {% assign skills = data[1] %}
  <div class="skill-list-group">
    {% for content in skills %}
    <div class="list-group-item">
      <div class="skill-category">
        <span class="skill-name badge font-weight-bold text-uppercase align-middle">
          {{ content.name }}
        </span>
        <div class="skill-bar-container">
          <div class="skill-bar" style="width: {{ content.level }}%;"></div>
        </div>
        <div class="skill-keywords">
          <ul>
            {% for item in content.keywords %}
            <li class="ml-1 ml-md-4" style="font-size: 0.7rem;font-style: italic">{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>